* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
}

/* STATS */
.stats {
  background: rgb(24, 154, 70);
}
.stats_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.stats_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.stats_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

@media (max-width: 992px) {
  .stats_info p {
    font-size: 40px;
    line-height: 50px;
  }

  .stats_info h4 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .stats_info p {
    font-size: 35px;
    line-height: 38px;
    margin-top: 20px;
  }

  .stats_info h4 {
    font-size: 17px;
  }
}

/* PRICING */

.pricing {
  background: #f9f7fe;
}

.pricing_title h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: red;
  letter-spacing: 1px;
}

.pricing_title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.pricing_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 0;
  scale: 0.95;
}

.pricing_plan {
  background: white;
  border-radius: 6px;
  align-self: center;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
}

.pricing_plan.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
}

.pricing_plan.active .plan_top {
  color: white;
  padding: 3em 2.5em 0.5em;
  background: rgb(24, 154, 70);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing_plan.active .plan_top h5 {
  font-size: 15px;
  line-height: 20px;
  color: rgb(24, 154, 70);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 6px;
}

.pricing_plan.active .plan_top h4 {
  color: white;
}

.pricing_plan.active .plan_top h4 span {
  color: white;
}

.pricing_plan.active .plan_bottom {
  padding: 2em 2.5em 3.5em;
}

.pricing_plan.active .plan_content {
  padding: 0;
}

.plan_content {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.plan_top {
  text-align: center;
}

.plan_top h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.plan_top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(24, 154, 70);
}

.plan_top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.plan_top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.plan_bottom {
  text-align: center;
  padding-top: 1em;
}

.plan_bottom ul {
  min-height: 120px;
}

.plan_bottom ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.plan_bottom ul li p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.btn {
  margin-top: 2em;
  background: rgb(24, 154, 70);
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: transparent;
  color: white;
}

.btn:hover {
  background-color: #116e32;
  color: white;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}

@media (max-width: 800px) {
  .pricing_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
    width: 75%;
  }
}
/* DARK MODE */

.dark#pricing {
  background: #222222;
}

.dark#pricing .pricing_title h3 {
  color: white;
}

.dark#pricing .pricing_content .plan_top h6 {
  color: white;
}

.dark#pricing .pricing_content .pricing_plan {
  background: #151515;
}

.dark#pricing .pricing_content .plan_bottom ul li p {
  color: #aaafaf;
}

/* ABOUT */

.about .about_content .about_title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

.about .about_content .about_title h3 {
  font-size: 35px;
  line-height: 40px;
}

.about .about_content .about_title p {
  color: #696999;
}

.video_thumb {
  position: relative;
}

.video_wrapper a {
  position: absolute;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.video_wrapper {
  position: relative;
}

.video_wrapper img {
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
}

.video_wrapper a {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.video_wrapper a i {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: rgb(24, 154, 70);
}

.video_wrapper a i:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

/* DARK MODE */
.dark#about {
  background: #151515;
}

.dark#about .about_title h3 {
  color: white;
}

.dark#about .about_title p {
  color: #afafaf;
}
